<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269323402269-81ulfr3sb7fq4kspqab6g51veaumk3iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269323402269-81ulfr3sb7fq4kspqab6g51veaumk3iv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269323402269-cof4lrb9f7h61272vkgf1ce4ahjlueho.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGno3sDL9TGr1WyFC7m_svJhqs6wNC8xE</string>
	<key>GCM_SENDER_ID</key>
	<string>269323402269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommercebvoc187654</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-ae4a8</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-ae4a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269323402269:ios:c2a2f5de7acec2cb04daf4</string>
</dict>
</plist>